*{
  box-sizing: border-box;
}
#result{
    margin:0px 100px;
    border: 1px solid black;
  }
  #customerData{
    margin-left: 100px;
    margin-bottom: 20px ;
  }
  #result div img{
   width: 250px;
   height: 250px;
  }
  
  .card{
    margin: 10px;
    height: 300px;
    border: 1px solid black;

  }
  .divLeft{
    width: 15%;
    float: left;
    margin: 5px;
    margin-top: 20px;
  }

  .divRight{
    margin-top: 20px;
    width: 75%;
    float: right;
    margin-right: 10px;
   
  }

  .divRight h2{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 10px;
  }
  .divRight p{
    padding-bottom: 10px;
  }

  .description{
    height: 150px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-bottom: 10px;
  }
 