
* {
  box-sizing: border-box
}

body {
  padding: 25px;
  background-color:whitesmoke;
  color: black;
  max-width: 100%;
  overflow-x: hidden;
}


/*************************** Header Area Style **********************************/

header {
  background-color:#810000;
  height: 100px;
  top: 0;
  width: 100%;
  margin-left: -25px;
  position: fixed;
  z-index: 22;
  background-image: linear-gradient(480deg
,hsla(0,0%,100%,.01),hsla(0,0%,100%,.01) 16.667%,rgba(46,46,46,.01) 0,rgba(46,46,46,.01) 33.334%,hsla(0,0%,88.6%,.01) 0,hsla(0,0%,88.6%,.01) 50.001000000000005%,hsla(0,0%,62.4%,.01) 0,hsla(0,0%,62.4%,.01) 66.668%,hsla(0,0%,58.4%,.01) 0,hsla(0,0%,58.4%,.01) 83.33500000000001%,rgba(43,43,43,.01) 0,rgba(43,43,43,.01) 100.002%),linear-gradient(503deg
,hsla(0,0%,65.1%,.03),hsla(0,0%,65.1%,.03) 25%,hsla(0,0%,94.1%,.03) 0,hsla(0,0%,94.1%,.03) 50%,hsla(0,0%,47.5%,.03) 0,hsla(0,0%,47.5%,.03) 75%,rgba(40,40,40,.03) 0,rgba(40,40,40,.03)),linear-gradient(504deg
,hsla(0,0%,82%,.01),hsla(0,0%,82%,.01) 25%,rgba(22,22,22,.01) 0,rgba(22,22,22,.01) 50%,hsla(0,0%,49%,.01) 0,hsla(0,0%,49%,.01) 75%,hsla(0,0%,80.4%,.01) 0,hsla(0,0%,80.4%,.01)),linear-gradient(247deg
,hsla(0,0%,76.5%,.01),hsla(0,0%,76.5%,.01) 14.286%,rgba(64,64,64,.01) 0,rgba(64,64,64,.01) 28.572%,rgba(67,67,67,.01) 0,rgba(67,67,67,.01) 42.858%,hsla(0,0%,83.9%,.01) 0,hsla(0,0%,83.9%,.01) 57.144%,rgba(45,45,45,.01) 0,rgba(45,45,45,.01) 71.42999999999999%,rgba(47,47,47,.01) 71.43%,rgba(47,47,47,.01) 85.71600000000001%,hsla(0,0%,67.5%,.01) 0,hsla(0,0%,67.5%,.01) 100.002%),linear-gradient(230deg
,hsla(0,0%,43.5%,.03),hsla(0,0%,43.5%,.03) 16.667%,hsla(0,0%,79.2%,.03) 0,hsla(0,0%,79.2%,.03) 33.334%,rgba(57,57,57,.03) 0,rgba(57,57,57,.03) 50.001000000000005%,hsla(0,0%,77.3%,.03) 0,hsla(0,0%,77.3%,.03) 66.668%,rgba(97,97,97,.03) 0,rgba(97,97,97,.03) 83.33500000000001%,rgba(56,56,56,.03) 0,rgba(56,56,56,.03) 100.002%),linear-gradient(289deg
,rgba(88,88,88,.03),rgba(88,88,88,.03) 20%,hsla(0,0%,97.6%,.03) 0,hsla(0,0%,97.6%,.03) 40%,rgba(2,2,2,.03) 0,rgba(2,2,2,.03) 60%,hsla(0,0%,72.5%,.03) 0,hsla(0,0%,72.5%,.03) 80%,hsla(0,0%,76.9%,.03) 0,hsla(0,0%,76.9%,.03)),linear-gradient(299deg
,hsla(0,0%,62.7%,.03),hsla(0,0%,62.7%,.03) 12.5%,hsla(0,0%,80%,.03) 0,hsla(0,0%,80%,.03) 25%,hsla(0,0%,42.4%,.03) 0,hsla(0,0%,42.4%,.03) 37.5%,hsla(0,0%,74.9%,.03) 0,hsla(0,0%,74.9%,.03) 50%,hsla(0,0%,90.6%,.03) 0,hsla(0,0%,90.6%,.03) 62.5%,rgba(70,70,70,.03) 0,rgba(70,70,70,.03) 75%,hsla(0,0%,65.1%,.03) 0,hsla(0,0%,65.1%,.03) 87.5%,hsla(0,0%,78%,.03) 0,hsla(0,0%,78%,.03)),linear-gradient(395deg
,hsla(0,0%,45.5%,.02),hsla(0,0%,45.5%,.02) 20%,hsla(0,0%,55.3%,.02) 0,hsla(0,0%,55.3%,.02) 40%,hsla(0,0%,59.6%,.02) 0,hsla(0,0%,59.6%,.02) 60%,rgba(61,61,61,.02) 0,rgba(61,61,61,.02) 80%,hsla(0,0%,54.5%,.02) 0,hsla(0,0%,54.5%,.02)),linear-gradient(345deg
,hsla(0,0%,89%,.01),hsla(0,0%,89%,.01) 20%,hsla(0,0%,41.2%,.01) 0,hsla(0,0%,41.2%,.01) 40%,rgba(72,72,72,.01) 0,rgba(72,72,72,.01) 60%,rgba(33,33,33,.01) 0,rgba(33,33,33,.01) 80%,rgba(57,57,57,.01) 0,rgba(57,57,57,.01)),linear-gradient(241deg
 ,#111, rgb(165, 161, 161));
}

header nav{
 margin-top: -60px;
 float: right;
}
header nav ul {
  padding-right: 15px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: #FFFFE3;
  text-decoration: none;
  padding-left: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  
  
  
  ;
}

header button {
  float: right;
  margin-right: 10px;
}



#logo{
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  font-weight: bolder;
  padding-left: 30px;
  padding-top: 10px;
}
#logo span{
  font-size: 70px;
  color:#e40017;
}

#title{
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 33px;
  font-weight: bold;
}

/************************* Dark Mode Style *****************************/

#switch-check{
  height: 0;
  width: 0;
  visibility: hidden;
}
/** out side**/
#toggle{
  cursor: pointer;
  text-indent: -9999px;
  width: 32px;
  height: 15px;
  background: #FFFFE3;;
  display: block;
  border-radius: 100px;
  position: relative;
}
/** inside**/

#toggle:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: #e40017;

color: #FFFFE3;
  border-radius: 90px;
  transition: 0.1s;
}

#switch-check:checked+#toggle {
  background: #FFFFE3;
}

#switch-check:checked+#toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#toggle:active:after {
  width: 13px;
}

#DarkSwitch {
  float: right;
  margin-top: 32px;
  position: relative;
  top: -52px;
  right: 30px;
}
.dark-mode {
  background-color: black;
  color:#FFFFE3;
}
/************************* Dark Mode Style End ***********************************/

/*************************** Header Area Style **********************************/


/* the end of thw dark-mode design  */

/* first of all add the images container sec from the html */

#hero {
  margin-top: 80px;
  padding-top: 20px;
  
  
 
}



.mySlides {
  display: none;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 40%);
}

/*********************************Footer Area Style****************************************/
h6{
  margin-top: -15px;
}
footer {
  position: relative;
  bottom: -25px;
  clear: both;
  width: 105%;
 
  height: 200px;
  margin-left: -25px;
  padding: 15px;
  background-image: linear-gradient(480deg
  ,hsla(0,0%,100%,.01),hsla(0,0%,100%,.01) 16.667%,rgba(46,46,46,.01) 0,rgba(46,46,46,.01) 33.334%,hsla(0,0%,88.6%,.01) 0,hsla(0,0%,88.6%,.01) 50.001000000000005%,hsla(0,0%,62.4%,.01) 0,hsla(0,0%,62.4%,.01) 66.668%,hsla(0,0%,58.4%,.01) 0,hsla(0,0%,58.4%,.01) 83.33500000000001%,rgba(43,43,43,.01) 0,rgba(43,43,43,.01) 100.002%),linear-gradient(503deg
  ,hsla(0,0%,65.1%,.03),hsla(0,0%,65.1%,.03) 25%,hsla(0,0%,94.1%,.03) 0,hsla(0,0%,94.1%,.03) 50%,hsla(0,0%,47.5%,.03) 0,hsla(0,0%,47.5%,.03) 75%,rgba(40,40,40,.03) 0,rgba(40,40,40,.03)),linear-gradient(504deg
  ,hsla(0,0%,82%,.01),hsla(0,0%,82%,.01) 25%,rgba(22,22,22,.01) 0,rgba(22,22,22,.01) 50%,hsla(0,0%,49%,.01) 0,hsla(0,0%,49%,.01) 75%,hsla(0,0%,80.4%,.01) 0,hsla(0,0%,80.4%,.01)),linear-gradient(247deg
  ,hsla(0,0%,76.5%,.01),hsla(0,0%,76.5%,.01) 14.286%,rgba(64,64,64,.01) 0,rgba(64,64,64,.01) 28.572%,rgba(67,67,67,.01) 0,rgba(67,67,67,.01) 42.858%,hsla(0,0%,83.9%,.01) 0,hsla(0,0%,83.9%,.01) 57.144%,rgba(45,45,45,.01) 0,rgba(45,45,45,.01) 71.42999999999999%,rgba(47,47,47,.01) 71.43%,rgba(47,47,47,.01) 85.71600000000001%,hsla(0,0%,67.5%,.01) 0,hsla(0,0%,67.5%,.01) 100.002%),linear-gradient(230deg
  ,hsla(0,0%,43.5%,.03),hsla(0,0%,43.5%,.03) 16.667%,hsla(0,0%,79.2%,.03) 0,hsla(0,0%,79.2%,.03) 33.334%,rgba(57,57,57,.03) 0,rgba(57,57,57,.03) 50.001000000000005%,hsla(0,0%,77.3%,.03) 0,hsla(0,0%,77.3%,.03) 66.668%,rgba(97,97,97,.03) 0,rgba(97,97,97,.03) 83.33500000000001%,rgba(56,56,56,.03) 0,rgba(56,56,56,.03) 100.002%),linear-gradient(289deg
  ,rgba(88,88,88,.03),rgba(88,88,88,.03) 20%,hsla(0,0%,97.6%,.03) 0,hsla(0,0%,97.6%,.03) 40%,rgba(2,2,2,.03) 0,rgba(2,2,2,.03) 60%,hsla(0,0%,72.5%,.03) 0,hsla(0,0%,72.5%,.03) 80%,hsla(0,0%,76.9%,.03) 0,hsla(0,0%,76.9%,.03)),linear-gradient(299deg
  ,hsla(0,0%,62.7%,.03),hsla(0,0%,62.7%,.03) 12.5%,hsla(0,0%,80%,.03) 0,hsla(0,0%,80%,.03) 25%,hsla(0,0%,42.4%,.03) 0,hsla(0,0%,42.4%,.03) 37.5%,hsla(0,0%,74.9%,.03) 0,hsla(0,0%,74.9%,.03) 50%,hsla(0,0%,90.6%,.03) 0,hsla(0,0%,90.6%,.03) 62.5%,rgba(70,70,70,.03) 0,rgba(70,70,70,.03) 75%,hsla(0,0%,65.1%,.03) 0,hsla(0,0%,65.1%,.03) 87.5%,hsla(0,0%,78%,.03) 0,hsla(0,0%,78%,.03)),linear-gradient(395deg
  ,hsla(0,0%,45.5%,.02),hsla(0,0%,45.5%,.02) 20%,hsla(0,0%,55.3%,.02) 0,hsla(0,0%,55.3%,.02) 40%,hsla(0,0%,59.6%,.02) 0,hsla(0,0%,59.6%,.02) 60%,rgba(61,61,61,.02) 0,rgba(61,61,61,.02) 80%,hsla(0,0%,54.5%,.02) 0,hsla(0,0%,54.5%,.02)),linear-gradient(345deg
  ,hsla(0,0%,89%,.01),hsla(0,0%,89%,.01) 20%,hsla(0,0%,41.2%,.01) 0,hsla(0,0%,41.2%,.01) 40%,rgba(72,72,72,.01) 0,rgba(72,72,72,.01) 60%,rgba(33,33,33,.01) 0,rgba(33,33,33,.01) 80%,rgba(57,57,57,.01) 0,rgba(57,57,57,.01)),linear-gradient(241deg
   ,#111, rgb(165, 161, 161));
}
footer h2{
  font-size: 30px;
  margin-bottom:10px ;
}

#footerLeft {
 float: left;
 padding-left: 40px;
}
#footerLeft h2 {
  margin-top: -119px;
  font-weight: bold;
 
 }
 #footerLeft ol li a {
  text-decoration: none;
  color: #ffffff;
 }
footer ul li {
  display: inline;
  float: right;
  
}
#footerRight{
  float: right;
  padding-right: 30px;
  
}
#footerRight iframe{
  margin-top: 7px;
}
#footerRight ol li{font-weight: bold;

}
#footerLeft ol li{
padding:3px;
}
#mid{
  position: relative;
  left:30%;
}
#mid p{

  color: #FFFFE3;
}
#mid h6{
  
  position: relative;
  top: 100px;
}
#mid h2{
  font-weight: bold;
}
#mid i {
 margin-left: -617px;
 padding-right: 10px;

}
#mid ul li{
  padding-right: 95px;
}
  #mid ul{
    margin-top: 30px;
  } 

/*********************************Footer Area Style End****************************************/

/*********************************Index Area Style start****************************************/


/*********************************Responsive Services Section Using  Html & Css****************************************/
.containerOfboxes{
  width:80%;
  margin: 0 auto;
}

.details{
  text-align: center;
}

.details h2{
  color:#243238;
  font-size:50px;
  margin: 0;
}

.main-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
  width: 300px;
  height: 400px;
  margin: 10px;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  border-radius: 5px;

}
.box > * {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 40%);
}

.box:hover::before{
  width: 95%;
  height: 95%;
  transition: all ease .50s;
}

.box .icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  position: relative;
}

.box .icon .fas{
  color: #404044;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr{
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  width: 70%;
  border: 1px solid rgba(255,255,255, 0.1);
  

}


.box a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color:#887c7c ;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 25px;
  display: inline-block;
  font-weight: 600 ;
}
.box a:hover{
  background-color:#243238 ;
}

.box .white-border{
  border: 1px solid #ffffff;
}


.box-grey{

  background-image: linear-gradient(to right,#e40017, #000000);
}

.box-red{
  

  background-image: linear-gradient(to bottom right,#000000 ,#e40017, #000000);
  

}
/*********************************Responsive Services Section Using  Html & Css END****************************************/


/*********************************Index Area Style end****************************************/


#introPar {
  margin-top: 35px;
  
  font-family: 'Oswald', sans-serif;
 font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 50px;
  text-align:justify;
  
}

#ourInfo {
  display: inline;
}

#ourInfo li {
  margin-top: -4px;
  margin-left: 15px;
  margin-right: 15px;
}

#userInfo {
 padding-top: 30px;

}

/**************************************Reservations Style****************************/
/**************************************nazmia***************************************************/

#firstQ p{
  line-height: 25px;
  text-align: justify;
  font-family: 'PT Sans', sans-serif;
}
#secondQ p{
  line-height: 25px;
  text-align: justify;
  font-family: 'PT Sans', sans-serif;
}
#thirdQ p{
  line-height: 25px;
  text-align: justify;
  font-family: 'PT Sans', sans-serif;
}
#firstQ h2{
  line-height: 25px;
  font-weight: bolder;
  font-size: 20px;
  text-align: justify;
  
  font-family: 'PT Sans', sans-serif;
}
#secondQ h2{
  line-height: 25px;
  font-weight: bolder;
  font-size: 20px;
  text-align: justify;
  font-family: 'PT Sans', sans-serif;
}
#thirdQ h2{
  line-height: 25px;
  font-weight: bolder;
  font-size: 20px;
  text-align: justify;
  font-family: 'PT Sans', sans-serif;
}
#result {
  margin: 0px 100px;
  font-family: 'RocknRoll One', sans-serif;
}

#customerData {
  padding: 10px;
  margin: 0px 120px;
  margin-bottom: 20px;
  margin-top: 60px;
  border: #e40017 solid 3px;
  border-style: groove;
  /* color: #630000; */
  font-family: 'RocknRoll One', sans-serif;
  font-size: 15px;
}
#customerData select{
  margin-right: 15px;
  color: #e40017;
  background-color: #a5a59d70;
  font-family: 'RocknRoll One', sans-serif;

}
#Online{
  background-color: #e40017;
}
#submit{
  margin-top: 15px;
  width: 150px;
  height: 30px;
  background-color: #e40017;
  color: #FFFFE3;
  font-size: 18px;
  border-style: outset;
}
#submit:hover{
  transform:scale(1.05) ;
  height: 35px;
  border-radius: 10px ;
}
#onlineLabel{
  margin-right: 20px;
}

#result div img {
  width: 300px;
  height: 250px;
}

.location {
  margin: 20px;
  margin-bottom: 15px;
  height: 300px;
  border: 3px double #e40017;
 
}
/* .location:hover{ */
  /* background-color: #FFE8C7; */
  /* transform: scale(1.05);
  border: 5px solid #810000 ;
  border-style: double;
  border-radius: 10px ;
} */

.divLeft {
  width: 15%;
  float: left;
  margin: 5px;
  margin-top: 20px;
}

.divRight {
  margin-top: 20px;
  width: 75%;
  float: right;
  margin-right: -65px;
  /* color: #630000; */
}

.divRight h2 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 10px;
  
}

.divRight p {
  padding-bottom: 10px;
}

.description {
  margin-top: 10px;
  width: 75%;
  height: 130px;
  /* overflow-y: scroll; */
  /* scroll-behavior: smooth; */
  line-height: 25px;
  margin-bottom: 10px;
}
#booknow{
  width: 150px;
  height: 40px;
  background-color: #e40017;
  color: #FFFFE3;
  font-size: 20px;
  border-style: outset;
}
#booknow:hover{
  transform: scale(1.1) ;
  height: 45px;
  border-radius: 10px ;
}

/**************************************Reservations Style End****************************/

/**************************************About US Style***********************************/
/*******************************************nazmia*************/
#aboutUsPage{
  margin-top: 7%;
}
.row {
  margin: 5px;
  display: block;
  /* margin-left: 170px; */
  /* margin-bottom: 50px; */
  
  /* margin-top: 6%; */
}

.container h2 {
  padding: 5px;
  font-stretch: wider;
  font-size: 28px;
  text-align: center;
  
  font-family: 'Philosopher', sans-serif;
  

}
/* #ourImagesTitle{
  font-family: 'Philosopher', sans-serif;
  margin-top: 7%;
  margin-bottom: 0.05%;
  font-size: 60px;
  text-align: center;
  color: #e40017;
  border: double 2px #e40017;
  border-radius: 15px 50px ;
  width: 80%;
  padding: 5px;
  background-color: #FFE8C7;
}
#ourImagesTitle:hover{
  border: 5px double #e40017;
} */

.title {
  text-align: center;
  font-weight: 800;
  font-size: large;
  font-family: 'Merienda', cursive;

}

.container p {
  padding: 5px 10px;
  text-align: center;
  font-family: 'Philosopher', sans-serif;

}

.card {
  width: 300px;
  display: inline-block;
  border: groove 2px rgba(121, 119, 119);
  text-transform: capitalize;
  margin:30px;
  /* margin-right: 60px; */
  border-radius: 15px 50px ;

}

.card img {
  height: 250px;
  width: 250px;
  /* margin-left: 25px; */
  margin: 10px;
  margin-top: 20px;
  border-radius: 15px 50px ;
  border: solid rgba(121, 119, 119) 1px;

}


.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px #40404446;
  background-color: #a5a59d70;
}

.container ul li {
  display: inline-block;
  padding: 10px;
}

.container ul li i{
  color: #e40017;
  transition: width 1s, height 1s, transform 1s;
}
.container ul li i:hover{
  transform: rotate(180deg)
}



/**************************************About US Style End***********************************/

/**************************************Checkout Style***********************************/
#reservedGym{
  margin-top: 100px;
  margin-bottom: 100px;
}
#reservedGym table tr td img {
 width: 300px;
 height: 150px;
 border-radius: 8px;
 box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.4) ;
}
#reservedGym table{
 height: 200px;
 border: #000000 solid 1px;
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2) ;
}
#reservedGym  td {
  border-collapse: collapse;
  padding: 50px;
}
#reservedGym td:not(:first-child)
{
  vertical-align: middle;
  line-height: 100px;
  font-size: 20px;
}
#reservedGym th{
  font-weight: bolder;
  padding: 15px;
  padding-top: 20px;
  color: black;
  font-size: 24px;
}
#formCheckout{
  margin-top: 40px;
  width: 89%;
  border: #000000 solid 1px;
  padding: 30px;
  border: #000000 solid 1px;
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2) ;
}
#reservedGym button{
  display: inline-block;
  box-sizing: content-box;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  border-radius: 6px;
  color: rgba(255,255,255,0.9);
  background-color: #810000;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
}

#reservedGym input[type=number]{
  width: 60px;
  height: 30px;
  font-size: 14px;
  text-align: center;
}
#formCheckout input[type=text],input[type=email],input[type=tel] {
  width:70%;
  padding: 9px 10px;
  margin: 8px 0;
  border: 1px solid #018dc4;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2) ;
  font-size: 16px;
}
#formCheckout input[type=button], #formCheckout input[type=submit]{
  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  border-radius: 6px;
  color: rgba(255,255,255,0.9);
  background-color: #810000;
  font-size: 16px;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
}
#formCheckout label{
  font-size: 24px;
  width: 30%;
}

#emptytable{
  font-size: 36px;
  margin-top: 100px;
  margin-bottom: 250px;
}
#form-header{
 font-size: 26px;
 font-weight: bold;
 margin-bottom: 15px;
}
/**************************************Checkout Style End***********************************/
/* Chart */
#myChart{
width: 50% !important;
}

#total{
  font-size: 23px;
  font-family: monospace;
  font-weight: bolder;
  width: 43%;
  height: 14%;
  border: 2px solid black;
  padding: 9px;
  margin-top: -5%;
}




