* {
  box-sizing: border-box
}

body {
  padding: 25px;
  background-color:white;
  color: black;
  max-width: 100%;
  overflow-x: hidden;
}


/*************************** Header Area Style **********************************/

header {
  background-color:#810000;
  height: 100px;
  top: 0;
  width: 100%;
  margin-left: -25px;
  position: fixed;
  z-index: 22;
  opacity: 95%;
}

header nav{
  margin-top: -30px;
}
header nav ul {
  padding-right: 150px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: #FFFFE3;
  text-decoration: none;
  padding-left: 30px;
  
  ;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

header button {
  float: right;
  margin-right: 10px;
}
header nav ul li a:hover{
  font-size: 200%;
}

#logo{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: bolder;
  padding-left: 30px;
  padding-top: 10px;
}
#logo span{
  font-size: 70px;
  color: #FFFFE3;
}

#title{
  margin-top: 60px;
  font-family: 'Black Ops One', cursive;
  font-size: 33px;
}

/************************* Dark Mode Style *****************************/

#switch-check{
  height: 0;
  width: 0;
  visibility: hidden;
}

#toggle{
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 40px;
  background: #FFFFE3;;
  display: block;
  border-radius: 100px;
  position: relative;
}

#toggle:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: rgb(12, 11, 11);
  border-radius: 90px;
  transition: 0.3s;
}

#switch-check:checked+#toggle {
  background: #FFFFE3;
}

#switch-check:checked+#toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#toggle:active:after {
  width: 130px;
}

#DarkSwitch {
  float: right;
  margin-top: -13px;
  position: relative;
  top: -52px;
  right: 30px;
}
.dark-mode {
  background-color: black;
  color:#FFFFE3;
}
/************************* Dark Mode Style End ***********************************/

/*************************** Header Area Style **********************************/


/* the end of thw dark-mode design  */

/* first of all add the images container sec from the html */

#hero {
  margin-top: 8px;
  border: 1px solid white;
  
  box-shadow: 5px 10px #aca8a8;
}



.mySlides {
  display: none;
  box-shadow: navy 9px;
}

/*********************************Footer Area Style****************************************/

footer {
  position: relative;
  bottom: -25px;
  clear: both;
  width: 105%;
  background-color:#810000;
  height: 200px;
  margin-left: -25px;
  padding: 15px;
}
footer h2{
  font-size: 30px;
  margin-bottom:10px ;
}

#footerLeft {
 float: left;
}
#footerLeft h2 {
  margin-top: -120px;
  font-weight: bold;
 
 }
 #footerLeft ol li a {
  text-decoration: none;
  color: #ffffff;
 }
footer ul li {
  display: inline;
  float: right;
  
}
#footerRight{
  float: right;
  padding-right: 10px;
  
}
#footerRight iframe{
  margin-top: 7px;
}
#footerRight ol li{font-weight: bold;

}
#footerLeft ol li{
padding:3px;
}
#mid{
  position: relative;
  left:30%;
}
#mid p{

  color: #FFFFE3;
}
#mid h6{
  
  position: relative;
  top: 100px;
}
#mid h2{
  font-weight: bold;
}
#mid i {
 margin-left: -740px;
 padding-right: 10px;
}
#mid ul li{
  padding-right: 95px;
}
  #mid ul{
    margin-top: 30px;
  } 

/*********************************Footer Area Style End****************************************/

/*********************************Index Area Style start****************************************/


/*********************************Responsive Services Section Using  Html & Css****************************************/
.containerOfboxes{
  width:80%;
  margin: 0 auto;
}

.details{
  text-align: center;
}

.details h2{
  color:#243238;
  font-size:50px;
  margin: 0;
}

.main-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
  width: 300px;
  height: 400px;
  margin: 10px;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  border-radius: 5px;

}
.box > * {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.box:hover::before{
  width: 95%;
  height: 95%;
  transition: all ease .50s;
}

.box .icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  position: relative;
}

.box .icon .fas{
  color: #404044;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr{
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  width: 70%;
  border: 1px solid rgba(255,255,255, 0.1);
  

}


.box a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color:#887c7c ;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 25px;
  display: inline-block;
  font-weight: 600 ;
}
.box a:hover{
  background-color:#243238 ;
}

.box .white-border{
  border: 1px solid #ffffff;
}


.box-grey{

  background-image: linear-gradient(to right,#810000,  #0a0a0a);
}

.box-red{
  

  background-image: linear-gradient(to bottom right, #000000 ,#810000, #000000);
  

}
/*********************************Responsive Services Section Using  Html & Css END****************************************/


/*********************************Index Area Style end****************************************/


#introPar {
  margin-top: 10px;
  text-align: justify;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

#ourInfo {
  display: inline;
}

#ourInfo li {
  margin-top: -4px;
  margin-left: 15px;
  margin-right: 15px;
}

#userInfo {
 padding-top: 30px;

}

/**************************************Reservations Style****************************/
/**************************************nazmia***************************************************/
#questions{
  display: block;
  margin: 0px 60px;
  height: 500px;
  /* border: #243238 solid 1px; */
}
.questionCard{
  border-radius: 15px 0px 30px;
  border: #810000 solid 6px;
  border-style: inset;
  color: #460000;
  width: 250px;
  display: inline-block;
  height: 450px;
  margin: 1%;
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  /* font-weight: bold; */
  line-height: 23px;
  /* text-transform: capitalize; */
  text-align: justify;
  
}
.questionCard:hover{
  border-radius: 15px 50px 30px;
  transform: scale(1.1);
  font-weight: bolder;
  color: #810000;
}
.questionCard div h2{
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  line-height: 30px;
  font-weight: bold;
}
.questionCard div p{
  margin-top: 10px;
}
#firstQ{
  float: left;
}
#secondQ{
  float: left;
}
#thirdQ{
  float: right;
}
#forthQ{
  float: right;
}

#result {
  margin: 0px 100px;
  font-family: 'RocknRoll One', sans-serif;
}

#customerData {
  padding: 10px;
  margin: 0px 120px;
  margin-bottom: 20px;
  margin-top: 60px;
  border: #810000 solid 3px;
  border-style: groove;
  color: #630000;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 15px;
}
#customerData select{
  margin-right: 15px;
  color: #810000;
  background-color: #FFE8C7;
  font-family: 'RocknRoll One', sans-serif;

}
#Online{
  background-color: #810000;
}
#submit{
  margin-top: 10px;
  width: 150px;
  height: 30px;
  background-color: #810000;
  color: #FFFFE3;
  font-size: 18px;
  border-style: outset;
}
#submit:hover{
  transform:scale(1.1) ;
  height: 35px;
  border-radius: 10px ;
}
#onlineLabel{
  margin-right: 20px;
}

#result div img {
  width: 300px;
  height: 250px;
}

.location {
  margin: 20px;
  margin-bottom: 15px;
  height: 300px;
  border: 3px double #810000;
 
}
.location:hover{
  background-color: #FFE8C7;
  transform: scale(1.05);
  border: 5px solid #810000 ;
  border-style: double;
  border-radius: 10px ;
}

.divLeft {
  width: 15%;
  float: left;
  margin: 5px;
  margin-top: 20px;
}

.divRight {
  margin-top: 20px;
  width: 75%;
  float: right;
  margin-right: -65px;
  color: #630000;
}

.divRight h2 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 10px;
  
}

.divRight p {
  padding-bottom: 10px;
}

.description {
  height: 130px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-bottom: 10px;
}
#booknow{
  width: 150px;
  height: 40px;
  background-color: #810000;
  color: #FFFFE3;
  font-size: 20px;
  border-style: outset;
}
#booknow:hover{
  transform: scale(1.1) ;
  height: 45px;
  border-radius: 10px ;
}

/**************************************Reservations Style End****************************/

/**************************************About US Style***********************************/
/*******************************************nazmia*************/
.row {
  margin: 5px;
  display: block;
  /* margin-left: 170px; */
  /* margin-bottom: 50px; */
  color: #810000;
}

.container h2 {
  padding: 5px;
  font-stretch: wider;
  font-size: 28px;
  text-align: center;
  color: #810000;
  font-family: 'Philosopher', sans-serif;
  

}
#ourImagesTitle{
  font-family: 'Philosopher', sans-serif;
  margin-top: 7%;
  margin-bottom: 0.05%;
  font-size: 60px;
  text-align: center;
  color: #810000;
  border: double 2px #810000;
  border-radius: 15px 50px ;
  width: 80%;
  padding: 5px;
  background-color: #FFE8C7;
}
#ourImagesTitle:hover{
  border: 5px double #810000;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: large;
  font-family: 'Merienda', cursive;

}

.container p {
  padding: 5px 10px;
  text-align: center;
  font-family: 'Philosopher', sans-serif;

}

.card {
  width: 300px;
  display: inline-block;
  border: groove 2px #810000;
  text-transform: capitalize;
  margin: 30px;
  /* margin-right: 60px; */
  border-radius: 15px 50px ;

}

.card img {
  height: 250px;
  width: 250px;
  /* margin-left: 25px; */
  margin: 10px;
  margin-top: 20px;
  border-radius: 15px 50px ;
  border: solid #810000 1px;

}


.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px #810000;
  background-color: #FFE8C7;
}

.container ul li {
  display: inline-block;
  padding: 10px;
}

.container ul li i{
  color: #810000;
  transition: width 1s, height 1s, transform 1s;
}
.container ul li i:hover{
  transform: rotate(180deg)
}



/**************************************About US Style End***********************************/

/**************************************Checkout Style***********************************/
#reservedGym{
  margin-top: 50px;
}
#reservedGym table tr td img {
 width: 300px;
 height: 150px;
}
#reservedGym table{

 height: 200px;
 background-image: linear-gradient(#A5A59D,rgb(190, 109, 109) ,#810000 );
}
#reservedGym  td {
  border-collapse: collapse;
  padding: 50px;
}
#reservedGym td:not(:first-child)
{
  vertical-align: middle;
  line-height: 100px;
  font-size: 18px;
}
#reservedGym th{
  font-weight: bolder;
  padding: 20px;
  color: white;
  font-size: 24px;
}
#formCheckout{
  margin-bottom: 100px;
  width: 400px;
  border: 2px solid #810000;
  padding: 30px;
}
#reservedGym button{
  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  border-radius: 6px;
  color: rgba(255,255,255,0.9);
  background-color: #810000;
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
}

#reservedGym input[type=number]{
  width: 60px;
  height: 30px;
  font-size: 14px;
  text-align: center;
}
#formCheckout input[type=text],input[type=email],input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #018dc4;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2) ;
  font-size: 16px;
}
#formCheckout input[type=button], #formCheckout input[type=submit]{
  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  border-radius: 6px;
  color: rgba(255,255,255,0.9);
  background-color: #810000;
  box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
}
#formCheckout label{
  font-size: 24px;
}

#emptytable{
  font-size: 36px;
  margin-top: 55px;
}

/**************************************Checkout Style End***********************************/
