*{box-sizing: border-box}

header{

  background-color: #717171;
  height: 75px;
  top: 0;
  width: 100%;
  margin-left:-25px;
  position: fixed;
  z-index:22;

  }

  header h1{

    padding-top: 2%;


  }
  
  #logo{
  
  float: left;
  margin-left: 1%;
  margin-top: 0%;
  }

  header nav ul{

padding-right: 150px;



  }
  header nav ul li {
  
      display: inline;

  }
  
  header nav ul li a {
  
      color:#afacac ;
  
      text-decoration: none;
      padding: 5px;;
      font-weight: bolder;
      font-family: 'Courier New', Courier, monospace;
      font-size: 25px;
  }
  
  header button{
  
  float: right;
  margin-right: 10px;
  
  }
 

/* dark mode designing */

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 80px;
	height: 40px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}


#DarkSwitch{
float: right;
margin-top:-13px;
}


body {
    padding: 25px;
    background-color: rgb(187, 176, 176);
    color: black;
  

}
  
  .dark-mode {
    background-color: black;
    color: white;
}

 #DarkSwitch{
position: relative;
top:-52px;
right: 30px;

}



/* the end of thw dark-mode design  */








/* first of all add the images container sec from the html */

body {font-family: Verdana, sans-serif; margin:0}


#hero{
  margin-top: 60px;

}
.mySlides {display:none;}
/*footer*/


footer{
  position: relative;
  bottom: -25px;
  clear: both;
  width: 1518px;
  background-color: rgb(113, 113, 113);
  height: 100px;
  margin-left: -25px;
 
}

footer ul li {

  display: inline;
  float: right;
}
#introPar{
  margin-top: 10px;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
#ourInfo{
  display: inline;

}
#ourInfo li{
  margin-top: -4px;
  margin-left: 15px;
  margin-right:15px ;
}

